#setutptools
addict
aiofiles
certifi
chardet
click
demjson
h11
httpcore
httpx
idna
itsdangerous
Jinja2
justpy
MarkupSafe
numpy
pandas
python-dateutil
pytz
requests
rfc3986
six
sniffio
starlette
urllib3
uvicorn
websockets
